<div class="card">
  <p-table
    [value]="computedItems()"
    [paginator]="true"
    [rows]="10"
    [first]="first"
    [showCurrentPageReport]="true"
    [lazy]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [totalRecords]="data()?.totalCount || 0"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]">

    <ng-template #header>
      <tr>
        @for (col of tableColumnsConfig; track col) {
          <th [style.width]="col.field === 'actions' ? '200px' : 'auto'">{{ col.header }}</th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-component>
      <tr>
        @for (col of tableColumnsConfig; track col) {
          <td>
            @if (col.field === 'actions') {
              <div class="flex gap-2">
                <p-button
                  icon="pi pi-pencil"
                  severity="secondary"
                  size="small"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="editComponent(component)"
                  tooltipPosition="left"
                  pTooltip="Edit"/>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  size="small"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="deleteComponent(component)"
                  tooltipPosition="left"
                  pTooltip="Delete"/>

                @if (component.canAssignQuantity) {
                  <p-button
                    icon="pi pi-hashtag"
                    severity="info"
                    size="small"
                    [rounded]="true"
                    [outlined]="true"
                    (onClick)="updateQuantity(component)"
                    tooltipPosition="left"
                    pTooltip="Update Quantity"/>
                }
              </div>
            } @else {
              {{ component[col.field] || '-' }}
            }
          </td>
        }
      </tr>
    </ng-template>

    <ng-template #paginatorleft>
      <p-button type="button" icon="pi pi-plus" text/>
    </ng-template>
    <ng-template #paginatorright>
      <p-button type="button" icon="pi pi-cloud" text/>
    </ng-template>
  </p-table>
</div>
